MYSQL_ROOT_PASSWORD=ChangeMe_RootPass_2026!
MYSQL_DATABASE=ra3app
MYSQL_USER=ra3user
MYSQL_PASSWORD=ChangeMe_AppPass_2026!

HOST_HTTP_PORT=8080

JAVA_OPTS="-Xms256m -Xmx384m -XX:+UseContainerSupport"
